
  
h1 {
    text-align: center;
    font-size: 80px;
  }

h2 {
    text-align: center;
    font-size: 40px;
  }

body {
     background-color: aqua;
}

p {
    text-align: center;
}


Sans-Serif